#restaurante-img {
	width: 200px;
	height: 200px;
}

.restaurante-paquete {
	background-color: rgba(243, 243, 243, 0.616);
	border-radius: 20px;
	margin: 20px;
	padding-bottom: 20px;
}

.inc-button, .dec-button {
	height: 40px;
	width: 30px;

	background-color: #ffaa30;
}

.inc-button {
	border-radius: 0px 10px 10px 0px;
	margin-left: -6px;
}

.dec-button {
	border-radius: 10px 0px 0px 10px;
	margin-right: -5px;
}

input.precio-paquete {
	border-radius: 0px;
	height: 40px;
	padding: 0px 0px 1px 0px;
	text-align: center;
	/* font-size: 20px; */
}

/* .card .card {
	background-color: rgba(243, 243, 243, 0.616);
	border-radius: 10px;
} */

.card-title h4 {
	text-align: center;
	color : rgb(233, 164, 35);
}

button {
	color: black !important;
}