body{
    /*margin: 20px;*/
    background-color: #ECEDEF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* INICIO RESTAURANTE */
h3 {
    margin-top: 20px;
    text-align: center;
}/*
h6{
    text-align-last: center;
}*/
.enviar{
    background-color: #ffaa30;
    border-color: #ffaa30;
    border: none;
    padding: 10px 20px; 
    border-radius: 25px;
    color:white !important;
}
.enviar a i{
    color:black;
}
.enviar a{
    text-decoration: none;
    color:white !important;
}
.enviar:hover{
    background-color: #ff8000;
}
#cancelar{
    border: none;
     padding: 10px 20px; 
    border-radius: 25px;
}
div.separator {
    height: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #BBBBBB;
}
ul.list-group {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

ul.list-group *:hover {
    cursor: pointer;
}

.selected {
    background-color: #ffaa30 !important;
    border-color: #ffaa30 !important;
}
.selected:hover{
    background-color:#ffa600;
    border-color: #ffa600;
}
.active:hover{
    background-color:#ffa600;
    border-color: #ffa600;
}
.list-group-item.active{
    background-color:#ffa600;
    border-color: #ffffff !important;

}
.selector{
    background-color:#ffa600;
    border-color: #ffa600;
}
.selector:hover{
    background-color: #ffaa30 !important;
    border-color: #ffaa30;
}
.mas{
    background-color: #ffaa30;
    border-color: #ffaa30;
}
.mas:hover{
    background-color: #ffaa30 !important;
    border-color: #ffaa30;
}
.menos{
    background-color: #ffaa30;
    border-color: #ffaa30;
}
.menos:hover{
    background-color: #ffaa30 !important;
    border-color: #ffaa30;
}
.green {
    background-color: green !important;
    color:white !important;
}
.red {
    background-color: red !important;
    color:white !important;
}
#visibility-options{
    color:#777777 !important;

}
#drinks-not-added, #drinks-added {
    height: 250px;
    overflow: auto;
    margin-bottom: 20px;
}

.option-description {
    color: #777777;
}
/* FIN RESTAURANTE */
/* INICIO INDEX */
nav{
    padding: 5px 0;
    margin-bottom: 10px;
    color: #ffaa30 !important;
}
.nav-item a{  
    color: #ffaa30 !important;
}
.nav-item a i{  
    color: #ffaa30 !important;
}
.nav-item a:hover{
    color: #ff8000 !important;
}
.carousel-item img{
        width:100% !important;
        min-width:100 !important;
        height: 425px;
    position: relative;
}
#rest{
    background-color: white;
}
footer{
    background-color: #ffaa30;
    padding-top: 5px;
    margin-top: 30px;
    width: 100%;
    bottom:0px;
    position:relative;
}
.borde {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

  /* Slider */

  #slide_restaurantes{
    text-align:center;
    padding: 20px;
  }
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
/* ---------------------------------------*/
  .dual-list .list-group {
    margin-top: 8px;
    text-align:left;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding: 0;
    margin: auto;
    height: 80px !important;
}
