body{
    /*margin: 20px;*/
    background-color: #ECEDEF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button[type="button"], button[type="submit"] {
    background-color: #ffaa30;
    border: none;
    padding: 4px 12px; 
    border-radius: 25px;
    color: black;
}

button[type="button"]:hover, button[type="submit"]:hover {
    background-color: #ff8000;
}

button[data-toggle="dropdown"],
button[data-toggle="dropdown"]:hover {
    background-color: unset;
    border-radius: unset;
}

.dropdown-item:focus {
    background-color: unset;
}

div.separator {
    height: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #BBBBBB;
}
ul.list-group {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.list-group-item {
    border-bottom: 1px solid rgb(100, 100, 100) !important;
}
.list-group-item:last-child {
    border-bottom: unset !important;
}

ul.list-group *:hover {
    cursor: pointer;
}

/* Tipos entrega y paquetes en opciones restaurante */
.selected {
    background-color: #ffaa30 !important;
}
.selected:hover {
    background-color: #ffa600;
}

.header-description {
    text-align: center;
}

.active:hover {
    background-color:#ffa600;
    border-color: #ffa600;
}
.list-group-item.active {
    background-color:#ffa600;
    border-color: #ffffff !important;
}

.green {
    background-color: green !important;
    color:white !important;
}

.red {
    background-color: red !important;
}

#visibility-options {
    color:#777777 !important;
}

.option-description {
    color: #777777;
}
/* FIN RESTAURANTE */
/* INICIO INDEX */
nav {
    padding: 5px 0;
    margin-bottom: 10px;
    color: #ffaa30 !important;
}
.nav-item a {  
    color: #ffaa30 !important;
}
.nav-item a i {  
    color: #ffaa30 !important;
}
.nav-item a:hover {
    color: #ff8000 !important;
}
.carousel-item img {
        width:100% !important;
        min-width:100 !important;
        height: 425px;
    position: relative;
}
@media (max-width: 500px) {
    .carousel-item img{
        height: 225px;
    }
}
#rest{
    background-color: white;
}

footer {
    background-color: #ffaa30;
    padding-top: 5px;
    margin-top: 30px;
    width: 100%;
    bottom:0px;
    position:relative;
}

footer i {
    color: rgba(0, 0, 0, 0.5);
}

footer a i {
    font-size: 24px;
}

.borde {
    margin-right: 0px !important;
    margin-left: 0px !important;
}