body{
    background-color: #eeeeee;
}
div nav{
    padding: 10px 0;
    margin-bottom: 10px;
}
div nav a{
    color: #ffaa30;
}
div nav a:hover{
    color: #ff8000;
}
.carousel-item img{
    height: 550px !important;
    position: relative;
}
#rest{
    background-color: white;
}

footer{
    background-color: #ffaa30;
    padding-top: 5px;
    margin-top: 30px;
}